In [80]:
import os
import mgz
from mgz import header, fast
from mgz.summary import Summary
from mgz.fast.enums import Action

import pandas as pd

## Load replay

In [442]:
len({})

0

In [334]:
from mgz.fast import Operation

NEEDED_DATA = [Operation.CHAT, Operation.ACTION, Operation.SYNC]

game_data = []
# with open('data/AgeIIDE_Replay_257930563.aoe2record', 'rb') as data:
with open('data/SP_timed_replay.aoe2record', 'rb') as data:
# with open('data/SP_dequeueing_exercise.aoe2record', 'rb') as data:
# with open('data/SP_dequeuing_2.aoe2record', 'rb') as data:
    eof = os.fstat(data.fileno()).st_size
    header.parse_stream(data)
    fast.meta(data)
    while data.tell() < eof:
        op_type, val = fast.operation(data)
        if op_type in NEEDED_DATA:
            game_data.append((op_type, val))

## Analyze needed events

In [335]:
syncs = pd.Series(list(filter(lambda x: x[0]==Operation.SYNC, game_data))).unique()
actions = pd.Series(list(filter(lambda x: x[0]==Operation.ACTION, game_data)))
chats = pd.Series(list(filter(lambda x: x[0]==Operation.CHAT, game_data))).unique()

In [336]:
syncs

array([(<Operation.SYNC: 2>, (0, None)),
       (<Operation.SYNC: 2>, (11, None)),
       (<Operation.SYNC: 2>, (38, None)),
       (<Operation.SYNC: 2>, (33, None)),
       (<Operation.SYNC: 2>, (42, None)),
       (<Operation.SYNC: 2>, (25, None)),
       (<Operation.SYNC: 2>, (23, None)),
       (<Operation.SYNC: 2>, (27, None)),
       (<Operation.SYNC: 2>, (37, None)),
       (<Operation.SYNC: 2>, (21, None)),
       (<Operation.SYNC: 2>, (35, None)),
       (<Operation.SYNC: 2>, (32, None)),
       (<Operation.SYNC: 2>, (30, None)),
       (<Operation.SYNC: 2>, (20, None)),
       (<Operation.SYNC: 2>, (131, None)),
       (<Operation.SYNC: 2>, (18, None)),
       (<Operation.SYNC: 2>, (45, None)),
       (<Operation.SYNC: 2>, (40, None)),
       (<Operation.SYNC: 2>, (128, None)),
       (<Operation.SYNC: 2>, (145, None)),
       (<Operation.SYNC: 2>, (50, None)),
       (<Operation.SYNC: 2>, (169, None)),
       (<Operation.SYNC: 2>, (135, None)),
       (<Operation.SYNC: 2>, (47, None)),
       (<Operation.SYNC: 2>, (64, None)),
       (<Operation.SYNC: 2>, (28, None)),
       (<Operation.SYNC: 2>, (55, None)),
       (<Operation.SYNC: 2>, (147, None)),
       (<Operation.SYNC: 2>, (119, None)),
       (<Operation.SYNC: 2>, (89, None)),
       (<Operation.SYNC: 2>, (15, None)),
       (<Operation.SYNC: 2>, (150, None)),
       (<Operation.SYNC: 2>, (57, None)),
       (<Operation.SYNC: 2>, (52, None)),
       (<Operation.SYNC: 2>, (43, None)),
       (<Operation.SYNC: 2>, (54, None)),
       (<Operation.SYNC: 2>, (76, None)),
       (<Operation.SYNC: 2>, (16, None)),
       (<Operation.SYNC: 2>, (59, None)),
       (<Operation.SYNC: 2>, (140, None)),
       (<Operation.SYNC: 2>, (133, None)),
       (<Operation.SYNC: 2>, (98, None)),
       (<Operation.SYNC: 2>, (70, None)),
       (<Operation.SYNC: 2>, (138, None)),
       (<Operation.SYNC: 2>, (108, None)),
       (<Operation.SYNC: 2>, (136, None)),
       (<Operation.SYNC: 2>, (113, None)),
       (<Operation.SYNC: 2>, (111, None)),
       (<Operation.SYNC: 2>, (165, None)),
       (<Operation.SYNC: 2>, (49, None)),
       (<Operation.SYNC: 2>, (10, None)),
       (<Operation.SYNC: 2>, (13, None)),
       (<Operation.SYNC: 2>, (72, None)),
       (<Operation.SYNC: 2>, (99, None)),
       (<Operation.SYNC: 2>, (91, None)),
       (<Operation.SYNC: 2>, (69, None)),
       (<Operation.SYNC: 2>, (84, None)),
       (<Operation.SYNC: 2>, (125, None)),
       (<Operation.SYNC: 2>, (87, None)), (<Operation.SYNC: 2>, (27, 0)),
       (<Operation.SYNC: 2>, (67, None)),
       (<Operation.SYNC: 2>, (60, None)),
       (<Operation.SYNC: 2>, (62, None)), (<Operation.SYNC: 2>, (33, 0)),
       (<Operation.SYNC: 2>, (74, None)),
       (<Operation.SYNC: 2>, (65, None)),
       (<Operation.SYNC: 2>, (121, None)),
       (<Operation.SYNC: 2>, (92, None)),
       (<Operation.SYNC: 2>, (109, None)),
       (<Operation.SYNC: 2>, (96, None)), (<Operation.SYNC: 2>, (23, 0)),
       (<Operation.SYNC: 2>, (114, None)),
       (<Operation.SYNC: 2>, (148, None)),
       (<Operation.SYNC: 2>, (104, None)),
       (<Operation.SYNC: 2>, (101, None)),
       (<Operation.SYNC: 2>, (79, None)),
       (<Operation.SYNC: 2>, (155, None)),
       (<Operation.SYNC: 2>, (118, None)),
       (<Operation.SYNC: 2>, (94, None)),
       (<Operation.SYNC: 2>, (141, None)),
       (<Operation.SYNC: 2>, (152, None)),
       (<Operation.SYNC: 2>, (106, None)),
       (<Operation.SYNC: 2>, (8, None)),
       (<Operation.SYNC: 2>, (126, None)),
       (<Operation.SYNC: 2>, (157, None)),
       (<Operation.SYNC: 2>, (77, None)), (<Operation.SYNC: 2>, (103, 0)),
       (<Operation.SYNC: 2>, (103, None)),
       (<Operation.SYNC: 2>, (81, None)),
       (<Operation.SYNC: 2>, (123, None)),
       (<Operation.SYNC: 2>, (82, None)),
       (<Operation.SYNC: 2>, (163, None)),
       (<Operation.SYNC: 2>, (158, None)),
       (<Operation.SYNC: 2>, (153, None)),
       (<Operation.SYNC: 2>, (167, None)), (<Operation.SYNC: 2>, (25, 0)),
       (<Operation.SYNC: 2>, (143, None)),
       (<Operation.SYNC: 2>, (86, None)),
       (<Operation.SYNC: 2>, (116, None)),
       (<Operation.SYNC: 2>, (130, None)),
       (<Operation.SYNC: 2>, (162, None)), (<Operation.SYNC: 2>, (32, 0)),
       (<Operation.SYNC: 2>, (20, 0)), (<Operation.SYNC: 2>, (57, 0)),
       (<Operation.SYNC: 2>, (37, 0)), (<Operation.SYNC: 2>, (6, None)),
       (<Operation.SYNC: 2>, (18, 0)), (<Operation.SYNC: 2>, (40, 0)),
       (<Operation.SYNC: 2>, (21, 0)), (<Operation.SYNC: 2>, (118, 0)),
       (<Operation.SYNC: 2>, (160, None)), (<Operation.SYNC: 2>, (28, 0)),
       (<Operation.SYNC: 2>, (74, 0)), (<Operation.SYNC: 2>, (13, 0)),
       (<Operation.SYNC: 2>, (16, 0)), (<Operation.SYNC: 2>, (38, 0))],
      dtype=object)

In [337]:
chats

array([(<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"60","tauntNumber":60,"messageAGP":""}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"60","tauntNumber":60,"messageAGP":"@#11 Blazena_Bozena: 60"}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"121","tauntNumber":-1,"messageAGP":"@#11 Blazena_Bozena: 121"}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"3:08","tauntNumber":3,"messageAGP":"@#11 Blazena_Bozena: 3:08"}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"4:00","tauntNumber":4,"messageAGP":"@#11 Blazena_Bozena: 4:00"}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"Blazena_Bozena advanced to the Feudal Age.","tauntNumber":-1,"messageAGP":"@#1Blazena_Bozena advanced to the Feudal Age."}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"8:21","tauntNumber":8,"messageAGP":"@#11 Blazena_Bozena: 8:21"}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"Blazena_Bozena advanced to the Castle Age.","tauntNumber":-1,"messageAGP":"@#1Blazena_Bozena advanced to the Castle Age."}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"9:28","tauntNumber":9,"messageAGP":"@#11 Blazena_Bozena: 9:28"}'),
       (<Operation.CHAT: 4>, b'{"player":1,"channel":0,"message":"10:00","tauntNumber":10,"messageAGP":"@#11 Blazena_Bozena: 10:00"}')],
      dtype=object)

In [339]:
pd.Series(map(lambda x: x[1][0], actions)).unique()

array([<Action.GAME: 103>, <Action.DE_TRANSFORM: 41>,
       <Action.DE_QUEUE: 129>, <Action.BUILD: 102>, <Action.SPECIAL: 117>,
       <Action.RESEARCH: 101>, <Action.ORDER: 0>, <Action.RESIGN: 11>],
      dtype=object)

### Get queue and dequeue actions

TCs in given game are ids 2705 and 2698

In [340]:
pd.Series(map(lambda x: x[1][0], filter(lambda x: x[0]==Operation.ACTION, game_data))).unique()

array([<Action.GAME: 103>, <Action.DE_TRANSFORM: 41>,
       <Action.DE_QUEUE: 129>, <Action.BUILD: 102>, <Action.SPECIAL: 117>,
       <Action.RESEARCH: 101>, <Action.ORDER: 0>, <Action.RESIGN: 11>],
      dtype=object)

In [341]:
pd.DataFrame(map(lambda v: v[1][1],filter(lambda a: a[1][0]==Action.DE_QUEUE, filter(lambda e: e[0]==Operation.ACTION, game_data))))

    player_id object_ids  amount  unit_id  sequence
0           1     [1940]       1       83      1441
1           1     [1940]       1       83      1691
2           1     [1940]       1       83      1995
3           1     [1940]       1       83      2202
4           1     [1940]       1       83     12900
5           1     [1940]       1       83     13222
6           1     [1940]       1       83     13596
7           1     [1940]       1       83     47681
8           1     [1940]       1       83     47962
9           1     [1940]       1       83     48244
10          1     [1940]       1       83     48484
11          1     [1940]       1       83     48854
12          1     [1940]       1       83     85313
13          1     [1940]       1       83     85590
14          1     [1940]       1       83     85856
15          1     [1940]       1       83     86199
16          1     [1940]       1       83     86432
17          1     [1940]       1       83     86756
18          1     [1940]       1       83     87140
19          1     [1940]       1       83    119321
20          1     [1940]       1       83    119617
21          1     [1940]       1       83    119892
22          1     [1940]       1       83    120234
23          1     [1940]       1       83    120645
24          1     [1940]       1       83    144053
25          1     [1940]       1       83    144338
26          1     [1940]       1       83    144597
27          1     [1940]       1       83    144877
28          1     [1940]       1       83    145163
29          1     [1940]       1       83    145440
30          1     [1940]       1       83    179276
31          1     [1940]       1       83    179562
32          1     [1940]       1       83    179796
33          1     [1940]       1       83    180063
34          1     [1940]       1       83    180387
35          1     [1940]       1       83    180630
36          1     [1940]       1       83    310058
37          1     [1940]       1       83    310281
38          1     [1940]       1       83    314895
39          1     [1940]       1       83    315080
40          1     [1940]       1       83    315578
41          1     [1940]       1       83    323373
42          1     [1940]       1       83    323674
43          1     [1940]       1       83    356317
44          1     [1940]       1       83    365362
45          1     [1940]       1       83    365601
46          1     [1940]       1       83    365860
47          1     [1940]       1       83    366128
48          1     [1940]       1       83    396792
49          1     [1940]       1       83    403919
50          1     [1940]       1       83    467317
51          1     [1940]       1       83    467533

In [342]:
pd.DataFrame(map(lambda v: v[1][1], filter(lambda a: a[1][0]==Action.ORDER, filter(lambda e: e[0]==Operation.ACTION, game_data))))

   player_id object_ids  target_id     x     y  sequence
0          1     [1969]       1968  23.0  55.0    346527

In [385]:
pd.DataFrame(map(lambda v: v[1][1],filter(lambda a: a[1][0]==Action.SPECIAL, filter(lambda e: e[0]==Operation.ACTION, game_data))))

    player_id  order_id  slot_id  target_id    x    y object_ids  sequence
0           1         4        0         -1  0.0  0.0     [1940]     37128
1           1         4        0         -1  0.0  0.0     [1940]     37401
2           1         4        0         -1  0.0  0.0     [1940]     37691
3           1         4        0         -1  0.0  0.0     [1940]     37968
4           1         4        0         -1  0.0  0.0     [1940]     38249
5           1         4        0         -1  0.0  0.0     [1940]     38519
6           1         4        0         -1  0.0  0.0     [1940]     81252
7           1         4        0         -1  0.0  0.0     [1940]     81510
8           1         4        0         -1  0.0  0.0     [1940]     81752
9           1         4        0         -1  0.0  0.0     [1940]     82015
10          1         4        0         -1  0.0  0.0     [1940]    113755
11          1         4        0         -1  0.0  0.0     [1940]    114085
12          1         4        0         -1  0.0  0.0     [1940]    114314
13          1         4        0         -1  0.0  0.0     [1940]    114583
14          1         4        0         -1  0.0  0.0     [1940]    114811
15          1         4        0         -1  0.0  0.0     [1940]    115127
16          1         4        0         -1  0.0  0.0     [1940]    134937
17          1         4        0         -1  0.0  0.0     [1940]    135199
18          1         4        0         -1  0.0  0.0     [1940]    135478
19          1         4        0         -1  0.0  0.0     [1940]    135795
20          1         4        0         -1  0.0  0.0     [1940]    136174
21          1         4        1         -1  0.0  0.0     [1940]    176018
22          1         4        1         -1  0.0  0.0     [1940]    176271
23          1         4        1         -1  0.0  0.0     [1940]    176542
24          1         4        1         -1  0.0  0.0     [1940]    176797
25          1         4        1         -1  0.0  0.0     [1940]    177024
26          1         4        1         -1  0.0  0.0     [1940]    177335
27          1         4        1         -1  0.0  0.0     [1940]    304106
28          1         4        1         -1  0.0  0.0     [1940]    304378
29          1         4        1         -1  0.0  0.0     [1940]    304664
30          1         4        1         -1  0.0  0.0     [1940]    304921
31          1         4        1         -1  0.0  0.0     [1940]    305990
32          1         4        1         -1  0.0  0.0     [1940]    311329
33          1         4        1         -1  0.0  0.0     [1940]    311603
34          1         4        1         -1  0.0  0.0     [1940]    311895
35          1         4        1         -1  0.0  0.0     [1940]    317158
36          1         4        1         -1  0.0  0.0     [1940]    317361
37          1         4        1         -1  0.0  0.0     [1940]    317724
38          1         4        1         -1  0.0  0.0     [1940]    322153
39          1         4        1         -1  0.0  0.0     [1940]    325676
40          1         4        1         -1  0.0  0.0     [1940]    325925
41          1         4        0         -1  0.0  0.0     [1940]    350138
42          1         4        1         -1  0.0  0.0     [1940]    360674
43          1         4        1         -1  0.0  0.0     [1940]    362090
44          1         4        1         -1  0.0  0.0     [1940]    384482
45          1         4        1         -1  0.0  0.0     [1940]    384762
46          1         4        1         -1  0.0  0.0     [1940]    385075
47          1         4        1         -1  0.0  0.0     [1940]    385311
48          1         4        0         -1  0.0  0.0     [1940]    386655
49          1         4        0         -1  0.0  0.0     [1940]    391588
50          1         4        0         -1  0.0  0.0     [1940]    398526
51          1         4        0         -1  0.0  0.0     [1940]    401752
52          1         4        0         -1  0.0  0.0     [1940]    405697
53          1         4        0         -1  0.0  0.0     [1940]    407190

In [344]:
pd.DataFrame(map(lambda v: v[1][1],filter(lambda a: a[1][0]==Action.RESEARCH, filter(lambda e: e[0]==Operation.ACTION, game_data))))

    player_id  technology_id object_ids  sequence
0           1             22     [1940]    138741
1           1            101     [1940]    142565
2           1            213     [1940]    307164
3           1            213     [1940]    313958
4           1            213     [1940]    320859
5           1            213     [1940]    327316
6           1              8     [1940]    351168
7           1            213     [1940]    358736
8           1            102     [1940]    382823
9           1            102     [1940]    388342
10          1            102     [1940]    393237
11          1            102     [1940]    400137
12          1            102     [1940]    408175
13          1            213     [1940]    579214
14          1            280     [1940]    580713

In [345]:
queue_actions = pd.DataFrame(map(lambda v: v[1][1],filter(lambda a: a[1][0]==Action.DE_QUEUE, filter(lambda e: e[0]==Operation.ACTION, game_data))))
queue_actions

    player_id object_ids  amount  unit_id  sequence
0           1     [1940]       1       83      1441
1           1     [1940]       1       83      1691
2           1     [1940]       1       83      1995
3           1     [1940]       1       83      2202
4           1     [1940]       1       83     12900
5           1     [1940]       1       83     13222
6           1     [1940]       1       83     13596
7           1     [1940]       1       83     47681
8           1     [1940]       1       83     47962
9           1     [1940]       1       83     48244
10          1     [1940]       1       83     48484
11          1     [1940]       1       83     48854
12          1     [1940]       1       83     85313
13          1     [1940]       1       83     85590
14          1     [1940]       1       83     85856
15          1     [1940]       1       83     86199
16          1     [1940]       1       83     86432
17          1     [1940]       1       83     86756
18          1     [1940]       1       83     87140
19          1     [1940]       1       83    119321
20          1     [1940]       1       83    119617
21          1     [1940]       1       83    119892
22          1     [1940]       1       83    120234
23          1     [1940]       1       83    120645
24          1     [1940]       1       83    144053
25          1     [1940]       1       83    144338
26          1     [1940]       1       83    144597
27          1     [1940]       1       83    144877
28          1     [1940]       1       83    145163
29          1     [1940]       1       83    145440
30          1     [1940]       1       83    179276
31          1     [1940]       1       83    179562
32          1     [1940]       1       83    179796
33          1     [1940]       1       83    180063
34          1     [1940]       1       83    180387
35          1     [1940]       1       83    180630
36          1     [1940]       1       83    310058
37          1     [1940]       1       83    310281
38          1     [1940]       1       83    314895
39          1     [1940]       1       83    315080
40          1     [1940]       1       83    315578
41          1     [1940]       1       83    323373
42          1     [1940]       1       83    323674
43          1     [1940]       1       83    356317
44          1     [1940]       1       83    365362
45          1     [1940]       1       83    365601
46          1     [1940]       1       83    365860
47          1     [1940]       1       83    366128
48          1     [1940]       1       83    396792
49          1     [1940]       1       83    403919
50          1     [1940]       1       83    467317
51          1     [1940]       1       83    467533

In [346]:
p1_tc_queues = queue_actions[list(map(lambda v: 2698 in v, queue_actions.object_ids))]
p1_tc_queues.unit_id.unique()

array([], dtype=int64)

In [347]:

from enum import Enum

class Ages(Enum):
    DARK = 0
    FEUDAL = 1
    CASTLE = 2
    IMPERIAL = 3

class EntityIDs(Enum):
    # Units
    VILLAGER = 83
    
    # Technologies
    LOOM = 22
    WHEELBARROW = 213 
    HANDCART = -1000000000 # TODO: find actual id
    TOWNWATCH = 8 
    TOWNPATROL = -10000000000 # TODO: find actual id
    FEUDAL_AGE = 101
    CASTLE_AGE = 102
    IMPERIAL_AGE = -100000000000 # TODO: find actual id
    
TRACKED_TECHNOLOGIES = [EntityIDs.LOOM, EntityIDs.WHEELBARROW, EntityIDs.HANDCART, EntityIDs.TOWNWATCH, EntityIDs.TOWNPATROL, EntityIDs.FEUDAL_AGE, EntityIDs.CASTLE_AGE, EntityIDs.IMPERIAL_AGE]

BUILD_TIMES={
    # Dark age
    EntityIDs.VILLAGER.value:       25000,
    EntityIDs.LOOM.value:           25000,
    EntityIDs.FEUDAL_AGE.value:     130000,
    
    # Feudal age
    EntityIDs.WHEELBARROW.value:    75000,
    EntityIDs.TOWNWATCH.value:      25000,
    EntityIDs.CASTLE_AGE.value:     160000,
    
    # Castle age
    EntityIDs.TOWNPATROL.value:     40000,
    EntityIDs.HANDCART.value:       55000,
    EntityIDs.IMPERIAL_AGE.value:   190000,
}

In [348]:
player_tc_queues=[[],[],[],[],[],[],[],[]] # max 8 players, indexed by player_id-1
tc_ids = [None, None, None, None, None, None, None, None]

for action, payload in map(lambda x: x[1], filter(lambda x: x[0]==Operation.ACTION, game_data)):
    if action == fast.Action.DE_QUEUE and payload["unit_id"] == EntityIDs.VILLAGER.value:
        player_tc_queues[payload["player_id"]-1].append(payload["unit_id"])
    if action == fast.Action.RESEARCH and payload["technology_id"] in map(lambda v: v.value, TRACKED_TECHNOLOGIES):
        player_tc_queues[payload["player_id"]-1].append(payload["technology_id"])
        
        
player_tc_queues

[[83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  22,
  101,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  83,
  213,
  83,
  83,
  213,
  83,
  83,
  83,
  213,
  83,
  83,
  213,
  8,
  83,
  213,
  83,
  83,
  83,
  83,
  102,
  102,
  102,
  83,
  102,
  83,
  102,
  83,
  83,
  213],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

### Detect Age Up

In [349]:
import ast

chat = chats[0][1]
def get_age_up_from_chat(chat):
    payload = ast.literal_eval(chat.decode("utf-8"))
    if payload["message"].endswith("advanced to the Feudal Age."):
        return payload["player"], Ages.FEUDAL
    elif payload["message"].endswith("advanced to the Castle Age."):
        return payload["player"], Ages.CASTLE
    elif payload["message"].endswith("advanced to the Imperial Age."):
        return payload["player"], Ages.IMPERIAL
    else:
        return None, None

for chat in chats:
    print(get_age_up_from_chat(chat[1]))

(None, None)
(None, None)
(None, None)
(None, None)
(None, None)
(1, <Ages.FEUDAL: 1>)
(None, None)
(1, <Ages.CASTLE: 2>)
(None, None)
(None, None)

### Get Time

In [350]:
from typing import Any
from dataclasses import dataclass

@dataclass
class TimedEvent:
    time: int
    action: Operation
    data:Any

In [351]:
timed_game_data = []
t = 0
for op_type, val in game_data:
    if op_type == Operation.SYNC:
        td = val[0]
        t+= td
    else:
        timed_game_data.append(TimedEvent(t, op_type, val))

In [352]:
timed_game_data

[TimedEvent(time=0, action=<Operation.CHAT: 4>, data=b'{"player":1,"channel":0,"message":"60","tauntNumber":60,"messageAGP":""}'),
 TimedEvent(time=11, action=<Operation.ACTION: 1>, data=(<Action.GAME: 103>, {'player_id': 1, 'command_id': 16, 'sequence': 11})),
 TimedEvent(time=11, action=<Operation.ACTION: 1>, data=(<Action.GAME: 103>, {'player_id': 1, 'command_id': 19, 'sequence': 11})),
 TimedEvent(time=11, action=<Operation.ACTION: 1>, data=(<Action.DE_TRANSFORM: 41>, {'player_id': 1, 'object_ids': [1651], 'sequence': 11})),
 TimedEvent(time=1441, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 1441})),
 TimedEvent(time=1691, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 1691})),
 TimedEvent(time=1995, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 1995})),
 TimedEvent(time=2202, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 2202})),
 TimedEvent(time=4397, action=<Operation.ACTION: 1>, data=(<Action.BUILD: 102>, {'player_id': 1, 'building_id': 70, 'object_ids': [1948, 1947], 'x': 23.0, 'y': 39.0, 'sequence': 4397})),
 TimedEvent(time=7123, action=<Operation.ACTION: 1>, data=(<Action.BUILD: 102>, {'player_id': 1, 'building_id': 70, 'object_ids': [1946], 'x': 14.0, 'y': 48.0, 'sequence': 7123})),
 TimedEvent(time=12900, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 12900})),
 TimedEvent(time=13222, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 13222})),
 TimedEvent(time=13596, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 13596})),
 TimedEvent(time=37128, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 37128})),
 TimedEvent(time=37401, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 37401})),
 TimedEvent(time=37691, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 37691})),
 TimedEvent(time=37968, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 37968})),
 TimedEvent(time=38249, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 38249})),
 TimedEvent(time=38519, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 38519})),
 TimedEvent(time=47681, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 47681})),
 TimedEvent(time=47962, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 47962})),
 TimedEvent(time=48244, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 48244})),
 TimedEvent(time=48484, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 48484})),
 TimedEvent(time=48854, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 48854})),
 TimedEvent(time=56123, action=<Operation.ACTION: 1>, data=(<Action.BUILD: 102>, {'player_id': 1, 'building_id': 68, 'object_ids': [1948, 1947], 'x': 26.0, 'y': 40.0, 'sequence': 56123})),
 TimedEvent(time=60937, action=<Operation.CHAT: 4>, data=b'{"player":1,"channel":0,"message":"60","tauntNumber":60,"messageAGP":"@#11 Blazena_Bozena: 60"}'),
 TimedEvent(time=75079, action=<Operation.ACTION: 1>, data=(<Action.BUILD: 102>, {'player_id': 1, 'building_id': 584, 'object_ids': [1962, 1946], 'x': 16.0, 'y': 53.0, 'sequence': 75079})),
 TimedEvent(time=81252, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 81252})),
 TimedEvent(time=81510, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 81510})),
 TimedEvent(time=81752, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 81752})),
 TimedEvent(time=82015, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 82015})),
 TimedEvent(time=85313, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 85313})),
 TimedEvent(time=85590, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 85590})),
 TimedEvent(time=85856, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 85856})),
 TimedEvent(time=86199, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 86199})),
 TimedEvent(time=86432, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 86432})),
 TimedEvent(time=86756, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 86756})),
 TimedEvent(time=87140, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 87140})),
 TimedEvent(time=113755, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 113755})),
 TimedEvent(time=114085, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 114085})),
 TimedEvent(time=114314, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 114314})),
 TimedEvent(time=114583, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 114583})),
 TimedEvent(time=114811, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 114811})),
 TimedEvent(time=115127, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 115127})),
 TimedEvent(time=119321, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 119321})),
 TimedEvent(time=119617, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 119617})),
 TimedEvent(time=119892, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 119892})),
 TimedEvent(time=120234, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 120234})),
 TimedEvent(time=120645, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 120645})),
 TimedEvent(time=121516, action=<Operation.CHAT: 4>, data=b'{"player":1,"channel":0,"message":"121","tauntNumber":-1,"messageAGP":"@#11 Blazena_Bozena: 121"}'),
 TimedEvent(time=134937, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 134937})),
 TimedEvent(time=135199, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 135199})),
 TimedEvent(time=135478, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 135478})),
 TimedEvent(time=135795, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 135795})),
 TimedEvent(time=136174, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 0, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 136174})),
 TimedEvent(time=138741, action=<Operation.ACTION: 1>, data=(<Action.RESEARCH: 101>, {'player_id': 1, 'technology_id': 22, 'object_ids': [1940], 'sequence': 138741})),
 TimedEvent(time=142565, action=<Operation.ACTION: 1>, data=(<Action.RESEARCH: 101>, {'player_id': 1, 'technology_id': 101, 'object_ids': [1940], 'sequence': 142565})),
 TimedEvent(time=144053, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 144053})),
 TimedEvent(time=144338, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 144338})),
 TimedEvent(time=144597, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 144597})),
 TimedEvent(time=144877, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 144877})),
 TimedEvent(time=145163, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 145163})),
 TimedEvent(time=145440, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 145440})),
 TimedEvent(time=176018, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 176018})),
 TimedEvent(time=176271, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 176271})),
 TimedEvent(time=176542, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 176542})),
 TimedEvent(time=176797, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 176797})),
 TimedEvent(time=177024, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 177024})),
 TimedEvent(time=177335, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 177335})),
 TimedEvent(time=179276, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 179276})),
 TimedEvent(time=179562, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 179562})),
 TimedEvent(time=179796, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 179796})),
 TimedEvent(time=180063, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 180063})),
 TimedEvent(time=180387, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 180387})),
 TimedEvent(time=180630, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 180630})),
 TimedEvent(time=188934, action=<Operation.CHAT: 4>, data=b'{"player":1,"channel":0,"message":"3:08","tauntNumber":3,"messageAGP":"@#11 Blazena_Bozena: 3:08"}'),
 TimedEvent(time=240532, action=<Operation.CHAT: 4>, data=b'{"player":1,"channel":0,"message":"4:00","tauntNumber":4,"messageAGP":"@#11 Blazena_Bozena: 4:00"}'),
 TimedEvent(time=293734, action=<Operation.CHAT: 4>, data=b'{"player":1,"channel":0,"message":"Blazena_Bozena advanced to the Feudal Age.","tauntNumber":-1,"messageAGP":"@#1Blazena_Bozena advanced to the Feudal Age."}'),
 TimedEvent(time=304106, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 304106})),
 TimedEvent(time=304378, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 304378})),
 TimedEvent(time=304664, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 304664})),
 TimedEvent(time=304921, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 304921})),
 TimedEvent(time=305990, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 305990})),
 TimedEvent(time=307164, action=<Operation.ACTION: 1>, data=(<Action.RESEARCH: 101>, {'player_id': 1, 'technology_id': 213, 'object_ids': [1940], 'sequence': 307164})),
 TimedEvent(time=310058, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 310058})),
 TimedEvent(time=310281, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 310281})),
 TimedEvent(time=311329, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 311329})),
 TimedEvent(time=311603, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 311603})),
 TimedEvent(time=311895, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 311895})),
 TimedEvent(time=313958, action=<Operation.ACTION: 1>, data=(<Action.RESEARCH: 101>, {'player_id': 1, 'technology_id': 213, 'object_ids': [1940], 'sequence': 313958})),
 TimedEvent(time=314895, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 314895})),
 TimedEvent(time=315080, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 315080})),
 TimedEvent(time=315578, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 315578})),
 TimedEvent(time=317158, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 317158})),
 TimedEvent(time=317361, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 317361})),
 TimedEvent(time=317724, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 317724})),
 TimedEvent(time=320859, action=<Operation.ACTION: 1>, data=(<Action.RESEARCH: 101>, {'player_id': 1, 'technology_id': 213, 'object_ids': [1940], 'sequence': 320859})),
 TimedEvent(time=322153, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 322153})),
 TimedEvent(time=323373, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 323373})),
 TimedEvent(time=323674, action=<Operation.ACTION: 1>, data=(<Action.DE_QUEUE: 129>, {'player_id': 1, 'object_ids': [1940], 'amount': 1, 'unit_id': 83, 'sequence': 323674})),
 TimedEvent(time=325676, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 325676})),
 TimedEvent(time=325925, action=<Operation.ACTION: 1>, data=(<Action.SPECIAL: 117>, {'player_id': 1, 'order_id': 4, 'slot_id': 1, 'target_id': -1, 'x': 0.0, 'y': 0.0, 'object_ids': [1940], 'sequence': 325925})),
 TimedEvent(time=327316, action=<Operation.ACTION: 1>, data=(<Action.RESEARCH: 101>, {'player_id': 1, 'technology_id': 213, 'object_ids': [1940], 'sequence': 327316})),
 TimedEvent(time=338298, action=<Operation.ACTION: 1>, data=(<Action.BUILD: 102>, {'player_id': 1, 'building_id': 84, 'object_ids': [1967, 1966, 1964, 1962, 1946], 'x': 23.0, 'y': 55.0, 'sequence': 338298})),
 TimedEvent(time=344332, action=<Operation.ACTION: 1>, data=(<Action.BUILD: 102>, {'player_id': 1, 'building_id': 103, 'object_ids': [1947, 1948], 'x': 30.5, 'y': 42.5, 'sequence': 344332})),
 TimedEvent(time=346527, action=<Operation.ACTION: 1>, data=(<Action.ORDER: 0>, {'player_id': 1, 'object_ids': [1969], 'target_id': 1968, 'x': 23.0, 'y': 55.0, 'sequence': 346527})),

## Combine it all

In [408]:
import logging
from datetime import timedelta

class PlayerAgeInfo:
    player_id: int
    current_age: Ages
    queue: dict[Ages, list[int]]
    age_time: dict[Ages, int]
    tc_ids = set[int]
    
    def __init__(self, player_id):
        self.player_id = player_id
        self.current_age = Ages.DARK
        self.queue = {Ages.DARK: [], Ages.FEUDAL: [], Ages.CASTLE: [], Ages.IMPERIAL: []}
        self.age_time = {Ages.DARK: 0, Ages.FEUDAL: None, Ages.CASTLE: None, Ages.IMPERIAL: None}
        self.tc_ids = set()
        
@dataclass
class TimedAction:
    time: int
    action: Operation
    payload: Any
    
    def get_payload_string(self):
        if self.action == fast.Action.DE_QUEUE:
            return f"Queue {self.payload['unit_id']}"
        if self.action == fast.Action.RESEARCH:
            return f"Research {self.payload['technology_id']}"
        if self.action == fast.Action.SPECIAL:
            return f"Cancel with {self.payload['order_id']} in slot {self.payload['slot_id']}"
    
    def __str__(self):
        return f"{timedelta(milliseconds=self.time)} {self.get_payload_string()}"
    def __repr__(self):
        return self.__str__()

t = 0
player_tc_queues=[PlayerAgeInfo(i) for i in range(1,9)] # max 8 players, indexed by player_id-1
for op_type, event in game_data:
    if op_type == Operation.SYNC:
        td = event[0]
        t += td
    elif op_type == Operation.ACTION:
        action, payload = event
        player_info = player_tc_queues[payload["player_id"] - 1]
        if action == fast.Action.DE_QUEUE and payload["unit_id"] == EntityIDs.VILLAGER.value:
            player_info.queue[player_info.current_age].append(TimedAction(t, action, payload))
            player_info.tc_ids = player_info.tc_ids.union(payload["object_ids"])
        if action == fast.Action.RESEARCH and payload["technology_id"] in map(lambda e: e.value, TRACKED_TECHNOLOGIES):
            player_info.queue[player_info.current_age].append(TimedAction(t, action, payload))
        # Potentially a cancel action
        elif action == fast.Action.SPECIAL:
            if payload["order_id"] in [4, 260] and payload["target_id"] == -1 and player_info.tc_ids.intersection(payload["object_ids"]):

                player_info.queue[player_info.current_age].append(TimedAction(t, action, payload))
        
    elif op_type == Operation.CHAT:
        player_id, age = get_age_up_from_chat(event)
        if player_id is not None:
            player_tc_queues[player_id-1].current_age = age
            player_tc_queues[player_id-1].age_time[age] = t
            print(t, "ms, player", player_id, age, timedelta(milliseconds=t))
        else:
            print(t, "ms, chat", event, timedelta(milliseconds=t))

0 ms, chat b'{"player":1,"channel":0,"message":"60","tauntNumber":60,"messageAGP":""}' 0:00:00
60937 ms, chat b'{"player":1,"channel":0,"message":"60","tauntNumber":60,"messageAGP":"@#11 Blazena_Bozena: 60"}' 0:01:00.937000
121516 ms, chat b'{"player":1,"channel":0,"message":"121","tauntNumber":-1,"messageAGP":"@#11 Blazena_Bozena: 121"}' 0:02:01.516000
188934 ms, chat b'{"player":1,"channel":0,"message":"3:08","tauntNumber":3,"messageAGP":"@#11 Blazena_Bozena: 3:08"}' 0:03:08.934000
240532 ms, chat b'{"player":1,"channel":0,"message":"4:00","tauntNumber":4,"messageAGP":"@#11 Blazena_Bozena: 4:00"}' 0:04:00.532000
293734 ms, player 1 Ages.FEUDAL 0:04:53.734000
501322 ms, chat b'{"player":1,"channel":0,"message":"8:21","tauntNumber":8,"messageAGP":"@#11 Blazena_Bozena: 8:21"}' 0:08:21.322000
568149 ms, player 1 Ages.CASTLE 0:09:28.149000
569030 ms, chat b'{"player":1,"channel":0,"message":"9:28","tauntNumber":9,"messageAGP":"@#11 Blazena_Bozena: 9:28"}' 0:09:29.030000
600566 ms, chat b'{"player":1,"channel":0,"message":"10:00","tauntNumber":10,"messageAGP":"@#11 Blazena_Bozena: 10:00"}' 0:10:00.566000

In [413]:
player_info = player_tc_queues[0]
age_queue = player_info.queue[Ages.DARK]
print(f"Feudal time: {timedelta(milliseconds= player_info.age_time[Ages.FEUDAL])}")
[print(v) for v in age_queue];

Feudal time: 0:04:53.734000
0:00:01.441000 Queue 83
0:00:01.691000 Queue 83
0:00:01.995000 Queue 83
0:00:02.202000 Queue 83
0:00:12.900000 Queue 83
0:00:13.222000 Queue 83
0:00:13.596000 Queue 83
0:00:37.128000 Cancel with 4 in slot 0
0:00:37.401000 Cancel with 4 in slot 0
0:00:37.691000 Cancel with 4 in slot 0
0:00:37.968000 Cancel with 4 in slot 0
0:00:38.249000 Cancel with 4 in slot 0
0:00:38.519000 Cancel with 4 in slot 0
0:00:47.681000 Queue 83
0:00:47.962000 Queue 83
0:00:48.244000 Queue 83
0:00:48.484000 Queue 83
0:00:48.854000 Queue 83
0:01:21.252000 Cancel with 4 in slot 0
0:01:21.510000 Cancel with 4 in slot 0
0:01:21.752000 Cancel with 4 in slot 0
0:01:22.015000 Cancel with 4 in slot 0
0:01:25.313000 Queue 83
0:01:25.590000 Queue 83
0:01:25.856000 Queue 83
0:01:26.199000 Queue 83
0:01:26.432000 Queue 83
0:01:26.756000 Queue 83
0:01:27.140000 Queue 83
0:01:53.755000 Cancel with 4 in slot 0
0:01:54.085000 Cancel with 4 in slot 0
0:01:54.314000 Cancel with 4 in slot 0
0:01:54.583000 Cancel with 4 in slot 0
0:01:54.811000 Cancel with 4 in slot 0
0:01:55.127000 Cancel with 4 in slot 0
0:01:59.321000 Queue 83
0:01:59.617000 Queue 83
0:01:59.892000 Queue 83
0:02:00.234000 Queue 83
0:02:00.645000 Queue 83
0:02:14.937000 Cancel with 4 in slot 0
0:02:15.199000 Cancel with 4 in slot 0
0:02:15.478000 Cancel with 4 in slot 0
0:02:15.795000 Cancel with 4 in slot 0
0:02:16.174000 Cancel with 4 in slot 0
0:02:18.741000 Research 22
0:02:22.565000 Research 101
0:02:24.053000 Queue 83
0:02:24.338000 Queue 83
0:02:24.597000 Queue 83
0:02:24.877000 Queue 83
0:02:25.163000 Queue 83
0:02:25.440000 Queue 83
0:02:56.018000 Cancel with 4 in slot 1
0:02:56.271000 Cancel with 4 in slot 1
0:02:56.542000 Cancel with 4 in slot 1
0:02:56.797000 Cancel with 4 in slot 1
0:02:57.024000 Cancel with 4 in slot 1
0:02:57.335000 Cancel with 4 in slot 1
0:02:59.276000 Queue 83
0:02:59.562000 Queue 83
0:02:59.796000 Queue 83
0:03:00.063000 Queue 83
0:03:00.387000 Queue 83
0:03:00.630000 Queue 83

## Dark age idle time
This is just processing the queue. From the fuedal age message, we know feudal actually started researching in slot 0 exactly 130 000 ms before. So by looking at the time of the events, we can figure out what was cancelled before the feudal research and what was cancelled after. By subtracting the cancellations from stuff queued up, we get the idle time.

In [440]:
player_info = player_tc_queues[0]
age_queue = player_info.queue[Ages.DARK]

# get queued vils and techs relevant to dark age idle time
"""
Rules: 
  - cancellations AFTER starting researching last feudal are not relevant
  - cancellations BEFORE starting researching last feudal are
  - stuff in queue before last feudal research is relevant
  - stuff in queue after last feudal research is not relevant

That is: 
- get a list of queued vils, techs and cancellations before the feudal research actually started
  - we get this by looking at the timestamp of reaching feudal minus the time it takes to research feudal, removing anything after such time. 
- in this list, we remove queued up techs and vils after the last feudal research, but not cancellations.
- then, we add up count of vills and techs, feudal researches and cancellations. We subtract fedual reserarches -1 from cancellations and then the cancellations from queued up vills and techs. 
- finally, we multiply the queued up count by build time to get effective tc "busy" time.
"""
feudal_research_start_time = player_info.age_time[Ages.FEUDAL] - BUILD_TIMES[EntityIDs.FEUDAL_AGE.value]

queue_before_starting_feudal_research = list(filter(lambda ta: ta.time <= feudal_research_start_time, age_queue)) # If feudal message is sent after reaching feudal, then this should always include the last feudal research as well. TODO: confirm this

feudal_research_queue_indeces = []
for i, ta in enumerate(queue_before_starting_feudal_research):
    if ta.action == fast.Action.RESEARCH and ta.payload["technology_id"] == EntityIDs.FEUDAL_AGE.value:
        feudal_research_queue_indeces.append(i)
        
feudal_tech_queue_index = feudal_research_queue_indeces[-1]
unfinished_feudal_research_count = len(feudal_research_queue_indeces)-1

relevant_queued_vill_count = 0
relevant_queued_loom_count = 0
relevant_cancellations = 0
for i, ta in enumerate(queue_before_starting_feudal_research):
    if ta.action == fast.Action.DE_QUEUE and i < feudal_tech_queue_index: # Could be only vil
        relevant_queued_vill_count += 1
    if ta.action == fast.Action.RESEARCH and ta.payload["technology_id"] == EntityIDs.LOOM.value and i < feudal_tech_queue_index:
        relevant_queued_loom_count += 1
    if ta.action == fast.Action.SPECIAL:
        relevant_cancellations += 1
        
print(f"Dark age queue:\n vils: {relevant_queued_vill_count},\n loom: {relevant_queued_loom_count},\n unfinished feudal researches: {unfinished_feudal_research_count},\n cancellations: {relevant_cancellations}")

tc_dark_busy_time = (relevant_queued_loom_count+relevant_queued_vill_count+unfinished_feudal_research_count-relevant_cancellations)*BUILD_TIMES[EntityIDs.VILLAGER.value]

idle_time_dark = player_info.age_time[Ages.FEUDAL] - tc_dark_busy_time
print(f"Dark age idle time: {timedelta(milliseconds=idle_time_dark)}")

Dark age queue:
 vils: 24,
 loom: 1,
 unfinished feudal researches: 0,
 cancellations: 21
Dark age idle time: 0:03:13.734000