In [8]:
import os
import mgz
from mgz import header, fast
from mgz.summary import Summary

In [9]:
from mgz.fast import Operation

game_actions = []
with open('AgeIIDE_Replay_257930563.aoe2record', 'rb') as data:
    eof = os.fstat(data.fileno()).st_size
    header.parse_stream(data)
    fast.meta(data)
    while data.tell() < eof:
        op_type, val = fast.operation(data)
        if op_type==Operation.ACTION:
            game_actions.append(val)

In [12]:
import pandas as pd

In [16]:
pd.Series(map(lambda x: x[0], game_actions)).unique()

array([<Action.GAME: 103>, <Action.DE_TRANSFORM: 41>,
       <Action.DE_QUEUE: 129>, <Action.BUILD: 102>, <Action.MOVE: 3>,
       <Action.ORDER: 0>, <Action.GATHER_POINT: 120>, <Action.STOP: 1>,
       <Action.SPECIAL: 117>, <Action.UNGARRISON: 111>,
       <Action.BACK_TO_WORK: 128>, <Action.RESEARCH: 101>,
       <Action.WALL: 105>, <Action.DELETE: 106>, <Action.PATROL: 21>,
       <Action.BUY: 123>, <Action.SELL: 122>, <Action.STANCE: 18>,
       <Action.ATTACK_GROUND: 107>, <Action.FORMATION: 23>,
       <Action.RESIGN: 11>], dtype=object)

In [25]:
from mgz.fast import Action

df = pd.DataFrame(map(lambda x: x[1], filter(lambda x: x[0]==Action.DE_QUEUE, game_actions)))

In [33]:
p1_queue_actions = df.loc[df["player_id"]==1, :]

In [36]:
p1_vilbuild_actions = p1_queue_actions[p1_queue_actions.unit_id==83]

In [42]:
p1_vilbuild_actions.sequence[1:].values-p1_vilbuild_actions.sequence[:-1].values

array([   208,    208,  13975,  67639,    208,  36348,  13208,  31486,
        11375,  46514,    208,  56264,    195,  17277,  19695,   6500,
         8736,  19903,   8944,   6903,  26819,  12181,   8944,  18278,
         9750,  39611,  65611,  54223,  53430,   4667,  13611,  32708,
         6292,  22542,   6305,   6292,  17268,  14434,  46514,  30875,
        19708,  22334,  37787,  21125,  29064,   1625,  29042,   5295,
        25196,  13403,  39425,   1209,  53027,  86288, 107854,   8320,
        32065,  66332,    200,    200,    425,  24690,    208,  26636,
          415,    200,   8484,    425,    200, 110587,    200,    425,
          200,    425,   3091,    196,  18630,  14184,  12867,  11239,
        22744,    196,    221,  41829,    196,    196,    420,    224,
        17997,  12190,  12768,  11797,   3906,    225,  25172,    425,
         9716,  12168,  40303,    200,   2690,    221,  23260,    392,
          224,  29377,  39584,    224,   2660,    224,  46605,    200,
         2725,    400,    225,  41996,   2500,    225,  51139,   2688,
          389,    225,  23050,  10176,    196,    420,    196,  41972,
          425,    200,   2925,    200,  42025,    196,    420,    196,
          196,    420,    196,  56370,    200,    425,    425,  22552,
          224,    392,    224,  37044,    420,    196,    420,  35850,
          224,  34670,    400,    225,  30420,    425,    200,  19565,
          224,  21083,    225,  35494,    196,    196,  11340,    196,
       113537,    225,   4520,    425,  89111,    420,    196,   9271,
          210,    389,   5734,    224,  23290,    196,    420,   7717,
          200,  10137,    420, 125576,    400,   5114,  33017,  16515],
      dtype=int64)

In [43]:
p1_vilbuild_actions

     player_id                object_ids  amount  unit_id  sequence
0            1                    [2698]       1       83       936
1            1                    [2698]       1       83      1144
2            1                    [2698]       1       83      1352
6            1                    [2698]       1       83     15327
8            1                    [2698]       1       83     82966
..         ...                       ...     ...      ...       ...
555          1  [2698, 7403, 4258, 3986]       1       83   2976829
556          1  [2698, 7403, 4258, 3986]       1       83   2977229
557          1  [2698, 7403, 4258, 3986]       1       83   2982343
558          1  [2698, 7403, 4258, 3986]       1       83   3015360
566          1  [2698, 7403, 4258, 3986]       1       83   3031875

[193 rows x 5 columns]

In [ ]:
# There is actually a snippet that does what I want, almost: https://gist.github.com/santolucito/a01927be45a2a7a8e02ce9a50ddd8e75